article{
    display: flex;
    align-items: center;
    justify-content: center;
}

.avisoE, .avisoS{
    display: none;
}
.avisoE.aparece{
    display: block;
}
.avisoS.aparece{
    display: block;
}