article{
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}


article h1{
    width: 85%;
}


section{
    width: 20%;
    height: 70%;
    transition: .6s;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    background-color: gray;
    border-radius: 15px;
    padding: 15px;
}
.title{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.conteudo span{
    align-self: center;
    width: 90%;
}
.cOculto{
    display: none;
}
.cOculto:has(section:hover) section:hover{
    display: block;
}

.btn-container{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-container button{
    width: 12em;
    height: 3em;
    cursor: pointer;
}


article:has(section:hover) section:not(:hover){
    opacity: .5;
    scale: .98;
}
article:has(section:not(hover)) section:hover{
    width: 40%;
}